.nav-font{
    font-family: 'Lemonada', cursive;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
body{
    font-family: 'Montserrat', sans-serif;
}

.w-50{
    width:50%;
}

.asteriskField{
    display:none;
}