{% extends 'base.html' %}

{% load crispy_forms_tags %}



{% block title %}Food Recipes{% endblock %}

{% block content %}

<div class="py-5">
    <div class="container mx-6 w-50">
        <form method="POST" enctype="multipart/form-data" id='myForm'>
            {% csrf_token %}
            {{ form|crispy }}
            <div>
            <div class='container'>
                <div class='row'>
                {% for image in object.image_set.all %}
                    <div class='col-lg-2 col-md-4 mx-2' id='img-{{image.pk}}'>
                        <div class='row my-2' style='height:100px'><image src={{image.image.url}} width='100px'></image></div>
                        
                        <div class='row'><button type='button' onclick='deleteImage({{image.pk}})' id='del-{{image.pk}}' class='btn btn-small btn-danger' style='width:100px'>Delete</button></div>
                        
                    </div>
                {% endfor %}
                </div>
            </div>
            </div>
            <br>
            <label style='display:block;'>
                Add Images
            </label>  
            <input type="file" value='' name="image" accept="image/*" class="clearablefileinput form-control" id="id_image" multiple> 
            
            
            <div class="form-group"> 
                <label style='display:block;'>
                Ingredients
                </label>  
                <input type="text" name='ingredients' class="form-control" 
                value="{% for ing in object.ingredients.all %}{{ing}},{% endfor %}"
                 data-role="tagsinput">
            </div> 
            <div class="form-group"> 
                <label style='display:block;'>
                Steps
                </label>  
                <div class='list-form'>
                    {% for step in object.step_set.all%}
                    <span>{{forloop.counter}}.</span>
                    <textarea name='steps_{{forloop.counter}}' class="form-control">{{step.description}}</textarea> 
                    {% endfor %}             
                </div>
                <button type='button' id='add' class="btn btn-primary mt-2">+</button>

                <button type='button' id='remove' class="btn btn-danger mt-2">-</button>

            </div> 
            
            
            <button onclick="beforeSubmit();" type="button" class="btn btn-primary btn-large btn-block">Save</button>
        </form>
    </div>
</div>
<script>
    $(document).ready(function() {
        var count = {{object.step_set.count}} + 1;
        $("#add").click(function() {
            var listForm = $(".list-form");
            var input = $('<span>' + count +'.</span><textarea name="steps_' + count + ' "class="form-control"></textarea>');
            listForm.append(input);
            count++;
            
            if(count>1){
                $("#remove").show()
            }
        });
        $("#remove").click(function() {
            var listForm = $(".list-form");
            listForm.children().last().remove()
            listForm.children().last().remove()
            count--;
            if(count<=1){
                $("#remove").hide()
            }
        });
        
    });

    function beforeSubmit() {
        $.each( deleteList , function( index, value ) {
            formData = {
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            }
            $.ajax({
                type: 'POST',
                url: '/image/' + value + '/delete/',
                data : formData,
                success: function (json) {
                    console.log(json);
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
            
        });
            
        $('#myForm').submit();
    }


    var deleteList = [];
    
    function deleteImage(pk) {
        deleteList.push(pk)
        imageDivId = "#img-" + pk.toString();
        $(imageDivId).hide()
        console.log(deleteList)
    }


       

</script>
{% endblock %}




 
        {% comment %} formData = {
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        }
            $.ajax({
                type: 'POST',
                url: '/image/' + pk + '/delete/',
                data : formData,
                success: function (json) {
                   console.log(json);
                   $('#del-' + pk).text('Deleted')
                   $('#del-' + pk).disabled = true
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        } {% endcomment %}