{% extends 'base.html' %}

{% block title %}Food Recipes{% endblock %}

{% block content %}

<div class="py-5">
    <div class="container mx-6">
        <div class="row">
            <div class='col-8'>
                <div class='row'>
                    <div class='col-10'>
                        <h2>{{object.name}}</h4>
                        <p>{{object.timestamp|date}} by {{object.user.username}}</p>
                    </div>
                    {% if object.user == request.user %}
                    <div class='col-2'>
                        <a href="{% url 'recipe:update' recipe.pk %}" class="btn btn-primary align-middle">Edit</a>
                    </div>
                    {% endif %}
                </div> 
                {% for image in object.image_set.all %}
                    <img src="{{image.image.url}}" class="img-fluid" alt="{{object.name}}">
                {% endfor %}
                <hr>
                <h3>Ingredients</h3>
                <ul>
                {% for indredient in object.ingredients.all %}
                    <li>{{indredient.name}}</li>
                {% endfor %}
                </ul>
                <hr>
                <h3>Description</h3>
                <p>{{object.description}}</p>
                <hr>
                <h3>Preparation Steps</h3>
                <ol>                
                {% for step in object.step_set.all %}
                    <li>{{step.description}}</li>
                {% endfor %}
                </ol>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}

